.message-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-card-main {
    display: flex;
    flex-direction: column;
}

.message-subject {
    padding-bottom: 1.2rem;
}

.message-email,
.message-date {
    font-size: 0.75rem;
    color: var(--grey-light);
    opacity: 0.5;
}

.contact-message-status {
    align-self: flex-start;
}
