.dashboard ul {
    list-style: none;
}

.dashboard ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    line-height: 35px;
    color: var(--grey-light);
}

.dashboard .icon {
    height: 1.3rem;
    width: 1.3rem;
}
