.nav-breadcrumb {
    padding-bottom: 40px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    gap: 0.5rem;
}

.breadcrumb li::after {
    content: "›";
    margin: 0 0.5rem;
    color: #999;
}

.breadcrumb li:last-child::after {
    content: "";
}

.breadcrumb a {
    color: var(--public-color);
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}
